body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.page-header {
    padding: 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.table {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden; /* Ensure the rounded corners are effective */
}

.table th {
    background-color: #343a40;
    color: white;
}

.table tbody tr:hover {
    background-color: #f1f1f1; /* Light gray on row hover */
}

.modal-content {
    border-radius: 10px;
}

.btn {
    border-radius: 5px;
}